<head>
	<meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
	<meta http-equiv="content-type" content="text/html;charset=utf-8">
	<link rel="icon" href="data:image/ico;base64,aWNv">
	<title>喵喵导航</title>
	<script>
		history.pushState("", "about:blank", "/")
	</script>
	<style>
		.container{
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
		}
		a.sourcelink {
			flex-grow: 1;
			border: 1px solid white;
			text-decoration-line: none;
			text-align: center;
			padding: 8px;
			color: white;
			font-weight: bolder;
			background: teal;
		}
		.tbutton{
			background: #528888;
			padding: 8px 16px;
			border-radius: 32px;
			text-decoration: none;
			color: white;
			display: inherit;
			text-align: center;
			margin: 8px 0;
		}
	</style>
</head>
<body>
	
<script>
    var out='<center><div style="text-align: center;"><img src="icon.png" style="width: 200px;"></div><h1>喵喵导航</h1><h2>无法在QQ微信使用，请在浏览器打开本网址</h2><h3>(先安装皮皮喵网页浏览器,再点击以下链接,网页最下方有安装链接)</h3></center><hr><div class="container">';
    var keysArr=
	[
		"看漫漫画（H漫）",
		"韩漫画（H漫）",
		"抖手韩漫（H漫）",
		"夜色韩漫（H漫）",
		"漫小肆（H漫）",
		"韩漫家（H漫）",
		"韩国漫画（H漫）",
		"疯情动漫（H漫）",
		"BIKA庇護所（H漫）",
		"Hanime1漫画（H漫）",
		"Hanime1视频（H漫）",
		"18H宅宅爱（H漫）",
		"966漫画（H漫）",
		"梦游漫画（H漫）",
		"涩漫123（H漫）",
		"可乐漫画（H漫）",
		"漫香阁（H漫）",
		"MUA韩漫（H漫）",
		"WAP韩漫（H漫）",
		"看了硬漫画（H漫）",
		"久久韩漫（H漫）",
		"艾米漫画（H漫）",
		"沫沫漫画（H漫）",
		"全图网（H漫）",
		"宅男女神（H漫）",
		"Ku137图库（H漫）",
		"Voiux图库（H漫）",
		"18禁漫（H漫）",
		"禁漫之家（H漫）",
		"禁漫天堂（H漫）",
		"禁漫H動畫（H漫）",
		"禁漫小電影（H漫）",
		"ISEKAI漫畫（H漫）",
		"ISEKAI動畫（H漫）",
		"松鼠症倉庫（H漫）",
		"HentaiDesi（H漫）",
		"TWHentai（H漫）",
		"瘋情漫畫（H漫）",
		"大香蕉漫画（H漫）",
		"邪恶漫画（H漫）",
		"百年X（H漫）",
		"奇客漫（H漫）",
		"三四漫画（H漫）",
		"肉漫屋（H漫）",
		"骚人气（H漫）",
		"啪啪漫画（H漫）",
		"本子库（H漫）",
		"里番本子库（H漫）",
		"Nyahentai（H漫）",
		"Simply Hentai（H漫）",
		"EHentai漫画（H漫）",
		"AsmHentai漫画（H漫）",
		"NHentai漫画（H漫）",
		"JoyHentai漫画（H漫）",
		"EroCool漫画（H漫）",
		"邪琉璃神社（H漫）",
		"邪恶道（H漫）",
		"177漫画（H漫）",
		"绅士漫画（H漫）",

		"DMBases动漫（动画）",
		"樱花动漫（动画）",

		"更多来源"
	];
out+=keysArr.map(function(item){
	var url;
	if(item.indexOf('更多来源') != -1){
		url = 'https://heuristic-hoover-01def9.netlify.app/ppcat/donate.html';
	}else{
		url = 'ppcat://openSourceByTitle?title='+encodeURIComponent(item);
	}
    return '<a class="sourcelink" href="'+url+'">'+item+'</a>';
}).join('');
document.writeln(out);
</script>
</div>
<hr style="
    margin: 16px 0;
"><div style="text-align: center;"><img src="icon.png" style="
    width: 200px;
"></div>
<a target="_blank" class="tbutton" href="https://vip.lanzoux.com/b932237">下载皮皮喵</a>
<a target="_blank" href="https://545c.com/dir/923436-36523760-2c1fce" class="tbutton">皮皮喵备用地址</a>
<!-- <a class="tbutton" href="https://apps.apple.com/cn/app/id1493174292">下载皮皮喵苹果免费版</a>
<a class="tbutton" href="https://apps.apple.com/cn/app/id1487839029">下载皮皮喵苹果付费版</a> -->
<hr>
<a target="_blank" class="tbutton" href="https://vip.lanzoux.com/b743927">下载全平台小狐狸</a>
</body>